<a href="https://colab.research.google.com/github/DanielaOrtGon/AI_AugDec2024_1999960/blob/main/Class_Aug_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Class of August 22nd 2024**

In [ ]:
if 5>2:
  print("Five is greater than two") # This is my first comment

Five is greater than two

In [ ]:
"""
This
is
another
multilineal
comment
"""
print("Hello, World! :D")

Hello, World! :D

In [ ]:
x = 10 # Integer (in green)
y = "Pancho" # string (in red)
z = True # boolean (in blue, True or False)
print(x)
print(y)
print(z)
type(y) # It gives the type of data stored in y

10
Pancho
True

str

In [ ]:
# Operations with variables.
x = 5
y = 4
z = 22

print(x + y + z)

31

In [ ]:
# Concatenate strings
x = "Daniela"
y = "Ortega"
print(x + " " + y)

Daniela Ortega

In [ ]:
# Data types examples
# Text
x = "hola Mundo" # str
# Numeric
y = 5 # int
z = 65.47 # float
s = 1j # complex
# Sequential
a = ['apple', 'bananna', 'orange'] # list
b = ('apple', 'bananna', 'orange') # tuple
# Boolean
c = True #boolean

In [ ]:
# Strings

a = "hello!"
b = 'hello!'

print(a)
print(b)

hello!
hello!

In [ ]:
# Multilineal strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "¡La pizza de Don Cangrejo es la mejor! "
print(len(a)) # It prints the amount of characters in the phrase

39

In [ ]:
a = "My name is: "
b = "Daniela"
c = a + b
print(c)

My name is: Daniela

In [ ]:
# Expressions to be evaluated.

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
x=3
print(x)

3

In [ ]:
print(x < 5 or x < 4)

True

In [ ]:
print(not 5 < 4)

True

In [ ]:
print(x < 5 and x < 10)

True

In [ ]:
# This is a list
lalista = ["apple", "banana", "cherry"]
print(lalista)

['apple', 'banana', 'cherry']

In [ ]:
# Duplicate values in a list
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
# Length of a list
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
# A list can contain different types of data.
list1 = ["abc", 34, True, 40, "male"]
print(list1)

print(type(list1[-1])) # The -1 is to show the type of data of the last data on the list

['abc', 34, True, 40, 'male']
<class 'str'>

In [ ]:
# Range of index.
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist.append("pineapple")
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'pineapple', 'pineapple', 'pineapple', 'pineapple']

In [ ]:
# Indentation!
a = 33
b = 200

if b > a:
  z = a + b
  print(z)

if b > a:
  print("b is greater than a")

233
b is greater than a

In [ ]:
# Elif
a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
# Else
a = 33
b = 66

if b < a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a + a == b:
  print("b is 2 times a")
else:
  print("a is greater than b")

b is 2 times a

In [ ]:
# Logical operators "and", "or" y "not".
a = 200
b = 200
c = 50

if a > b and c > a or a == b:
  print(":D")

a = 200
b = 33
c = 500

if a > b or a > c:
  print("At least one of the conditions is True")

:D
At least one of the conditions is True

In [ ]:
# Nested Ifs.

x = 15

if x > 10:
  print("Above ten.")
  if x > 20:
    print("Above ten," + " and also above 20!")
  else:
    print("Above ten," + "but not above 20.")

Above ten.
Above ten,but not above 20.

### **Class of August 29th 2024**

**FALTA TEMA: 2.2 TUPLES**
Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that tuples are immutable, meaning they cannot be changed once they are created. This makes them ideal for storing data that should not be modified, such as database records.
Lists []
Tuple ()

In [1]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
# For on a string

for x in "banana":
  print(x)

b
a
n
a
n
a

In [4]:
# Range
y = range(5)

for x in y:
  print(x)

#print(y)

0
1
2
3
4

In [7]:
# We can be more specific with the start, end, and increment numbers.

for x in range(2,31,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [8]:
# "Else" on a "for" cycle.
for x in range(3):
  print(x)
else:
  print("Finally finished!")

0
1
2
Finally finished!

In [10]:
# "break" to interrupt a cycle.
for x in range(7):
  if x == 6:
    print("Error!")
    break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Error!

In [11]:
# Nested for.

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
# While loop syntax.

i = 1

while i < 6:
  print(i)
  i += 1  # i = i + 1

1
2
3
4
5

In [18]:
# "break" on a while loop

i = 1

while i < 6:
  print(i)
  if i == 5:
    print("Error!")
    break
  i += 1
else:
  print("se terminó el ciclo while")

1
2
3
4
5
Error!

In [19]:
# Program "parrot".

message = input("Tell me something and I will repeat it: ")
print(message)

Tell me something and I will repeat it: No
No

In [20]:
# Add another element to a list

adj = ["red", "big", "tasty"]

adj.append("green")
print(adj)

['red', 'big', 'tasty', 'green']

In [21]:
adj.remove("red")
print(adj)

['big', 'tasty', 'green']

In [22]:
adj.pop(0)
print(adj)

['tasty', 'green']

# **Functions**

In [29]:
# Function in Python.
def my_function():
  print("Hello from a function")

In [34]:
# To use the function:
my_function("Daniela")

Daniela Ortega

In [33]:
# fname = parameter
# "Emil", "Tobias" and "Linus" = argument

def my_function(fname):
  print(fname + " Ortega")

In [40]:
# If a function was defined with two parameters, it will need 2 arguments.
def my_function(fname, lname):
  print(fname + " " + lname)

In [41]:
my_function("Daniela", "Ortega")

Daniela Ortega

In [38]:
# List as an argument.
def my_function(food):
  for x in food:
    print(x)

In [44]:
def funcion(lista):
  print(lista[-1])
  for x in range(len(lista)):
    print(lista[x])

In [45]:
funcion(adj)

green
tasty
green

In [46]:
print(adj)

['tasty', 'green']

In [47]:
import numpy as np